<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Your Code Discount</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-row>
      <ion-col size="10">
        <ion-input type="text" maxlength="8" #code placeholder="Write a Code AlphaNumeric"
          (ionChange)="onChange($event)">
        </ion-input>
      </ion-col>
      <ion-col size="2" class="mt-2">
        <div class="porcent">
          %{{_cart.codePorcent}}
        </div>
      </ion-col>
    </ion-row>
    <ion-button color="primary" (click)="_cart.addCode(code)">Apply</ion-button>
  </div>
</ion-content>