<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Shopping Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <h4 class="m-3">Total cart:
          <span>
            ${{_cart.total}}
          </span>
        </h4>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-card-form></app-card-form>
    </ion-col>
  </ion-row>
  <app-resume></app-resume>
</ion-content>